// define basic colors
$black: #000;
$grey: #141414;
$mid-grey: #505050;
$blue: #08B2B2;
$turkis: #0db9c5;
$magenta: #df0a82;
$orange: #fa523f;
$violett: #5e0ed6;
$white: #fff;


// basics/body
$body-background: $grey;
$body-font-color: $white;
$primary-color: $violett;

// message
$letter-color: $primary-color;

// .socials {
$social-icon-size: 36px;
$social-icon-fill: $white;