// define basic colors
$grey: #141414;
$blue: #08B2B2;
$magenta: #C4166D;
$orange: #FA7846;
$violett: #5F4B8B;
$white: #fff;


// basics/body
$body-background: $grey;
$body-font-color: $white;
$primary-color: $magenta;
